*

!/**/
!.gitignore
!LICENSE
!Makefile

bin
obj

!*.asm
!*.c
!*.cc
!*.cr
!*.cs
!*.csproj
!*.dart
!*.ex
!*.exs
!*.go
!*.hs
!*.hx
!*.java
!*.jl
!*.kts
!*.lisp
!*.lock
!*.lua
!*.md
!*.ml
!*.php
!*.pl
!*.pony
!*.py
!*.rb
!*.sh
!*.swift
!*.v
!*.vala