*

!/**/
!.gitignore
!LICENSE
!Makefile

bin
obj

!*.asm
!*.c
!*.cc
!*.cr
!*.cs
!*.csproj
!*.dart
!*.ex
!*.exs
!*.go
!*.hs
!*.hx
!*.java
!*.jl
!*.kts
!*.lisp
!*.lua
!*.md
!*.ml
!*.php
!*.pl
!*.pony
!*.py
!*.r
!*.rb
!*.rs
!*.scala
!*.sh
!*.swift
!*.toml
!*.v
!*.vala
!*.yaml
!*.yml

!mix.lock
