*

!/**/
!.gitignore
!LICENSE
!Makefile

!*.asm
!*.c
!*.cc
!*.cr
!*.dart
!*.ex
!*.exs
!*.go
!*.hx
!*.java
!*.jl
!*.kts
!*.lisp
!*.lock
!*.lua
!*.md
!*.ml
!*.php
!*.pl
!*.pony
!*.py
!*.rb
!*.sh
!*.swift
!*.v
!*.vala
